.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__name
        masa
      .side-bar__header__box__icons
        = link_to "#", class: "side-bar__header__box__icons__edit" do
          = icon('fa', 'edit')
        = link_to "#", class: "side-bar__header__box__icons__cog" do
          = icon('fa', 'cog')
  .side-bar__group
    .side-bar__group__name
      techcamp
    .side-bar__group__chat
      no message
    .side-bar__group__name
      techcamp
    .side-bar__group__chat
      no message